@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: 'Ubuntu', sans-serif;
}

.cards {
  display: inline-block;
  padding: 50px 20px 20px 20px;
}

img {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.open {
  text-decoration: none;
  padding: 25px;
  color: black;
}